In [19]:
import pandas as pd

labelmap=pd.read_csv('../data/intermediary-data/xbert_inputs/label_map.txt',sep='\t',header=None)
labelmap

                                                       0
0      Tuberculous pneumonia [any form], tubercle bac...
1                  Tuberculous pneumothorax, unspecified
2      Tuberculous pneumothorax, bacteriological or h...
3      Tuberculous pneumothorax, bacteriological or h...
4      Tuberculous pneumothorax, tubercle bacilli fou...
...                                                  ...
14562  Special screening examination for unspecified ...
14563                  Screening examination for cholera
14564   Screening examination for pulmonary tuberculosis
14565  Screening examination for leprosy (Hansen's di...
14566               Screening examination for diphtheria

[14567 rows x 1 columns]

In [38]:
train_data = pd.read_pickle('/Users/simon/GitHub/11785-project/data/intermediary-data/notes2diagnosis-icd-train_df')
test_data = pd.read_pickle('/Users/simon/GitHub/11785-project/data/intermediary-data/notes2diagnosis-icd-test_df')

,TEXT,CATEGORY,ICD9_CODE
HADM_ID,,,
100007.0,: : : Sex: F Service: SURGERY Allergies: Penic...,Discharge summary,"56081,5570,9973,486,4019"
100011.0,: : : Sex: M Service: SURGERY Allergies: Patie...,Discharge summary,"85206,82111,86403,48242,8600,2851,86121,80703,..."
100019.0,: : : Sex: M Service: Cardiothoracic Surgery P...,Discharge summary,"4241,7464,4412,7850"
100021.0,: : : Sex: M Service: MEDICINE Allergies: Pati...,Discharge summary,"E8788,E8497,4019,04104,0413,5728,V1581,2819,78..."
100025.0,: : : Sex: M Service: NEONATOLOGY HISTORY: Bab...,Discharge summary,"V3000,7756,99811,7708,7661,V502,E8788,V053"
...,...,...,...
199981.0,: : Service: MEDICINE Allergies: Patient recor...,Discharge summary,"99672,5849,5859,49121,5990,4280,42823,41401,24..."
199986.0,: : : Sex: F Service: MEDICINE Allergies: No D...,Discharge summary,"41041,41401,4019,2724,2859,4588,3659"
199988.0,: : : Sex: M Service: COLORECTAL SURGERY SERVI...,Discharge summary Discharge summary,"1541,99859,9974,5672,0389,5609,7070,E8792,2720"
199993.0,: : : Sex: M Service: CARDIOTHOR CHIEF COMPLAI...,Discharge summary,"41031,42821,42731,4271,5180,4240,2760,5119,5184"
199995.0,: : : Sex: M Service: HISTORY OF PRESENT ILLNE...,Discharge summary,"4210,7464,42971,30401,4412,44284,V1259,04111,3..."

In [ ]:
pd.D

In [23]:
instance2label=pd.DataFrame(scipy.sparse.load_npz('../data/intermediary-data/xbert_inputs/Y.trn.npz').todense())
instance2label

,0,1,2,3,4,5,6,7,8,9,...,14557,14558,14559,14560,14561,14562,14563,14564,14565,14566
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30910,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30911,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30913,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30914,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
instance2label

In [31]:
trn_texts = pd.read_csv('/Users/simon/GitHub/11785-project/data/intermediary-data/xbert_inputs/train_raw_texts.txt',header=None,sep='\t')
trn_texts

                                                       0
0      : : : Sex: F Service: MEDICINE Allergies: Sulf...
1      : : : Sex: F Service: CARDIOTHORACIC Allergies...
2      : : : Sex: M Service: NBB HISTORY OF PRESENT I...
3      : : : Sex: F Service: NEONATOLOGY HISTORY: wee...
4      : : Service: MEDICINE Allergies: Patient recor...
...                                                  ...
30910  : : : Sex: M Service: MEDICINE Allergies: Peni...
30911  : : : Sex: M Service: Neonatology HISTORY: . i...
30912  : : : Sex: M Service: SURGERY Allergies: Demer...
30913  : : Service: GU Allergies: Amoxicillin / Aldom...
30914  : : : Sex: M Service: MEDICINE Allergies: Dila...

[30915 rows x 1 columns]

In [ ]:
y = instance2label